package-lock.json
.vscode/
/user*/*
/node_modules/*
/doc
*.sh
*.db
*.log
*.save
hpservice
restart
housepanel_server.*
house*.cfg
database.py
test*
housepanel.py
requirements.txt
*.service
*.db-journal
.DS_Store
__pycache__/
._*
