/* 
 * This is the default HousePanel skin file 
 * you can edit this file directly but I recommend
 * that instead you copy this entire folder to a new folder
 * renaming it to your new skin name and edit that copy
 * then you can activate the skin in the HousePanel main GUI
 * 
 */

/* panel backgrounds go here in the skin */
div.panel-Family, div.panel-family, div.panel-Familyroom, div.panel-familyroom {
    background-image: url('media/family.jpg');
    background-size: cover;
}
div.panel-Kitchen, div.panel-kitchen, div.panel-Dinette, div.panel-dinette {
    background-image: url('media/kitchen.jpg');
    background-size: cover;
}
div.panel-Living, div.panel-living, div.panel-Livingroom, div.panel-livingroom {
    background-image: url('media/formal.jpg');
    background-size: cover;
}
div.panel-Outside, div.panel-outside {
    background-image: url('media/outside.jpg');
    background-size: cover;
}
div.panel-Garage, div.panel-garage {
    background-image: url('media/garage.jpg');
    background-size: cover;
}
div.panel-Office, div.panel-office, div.panel-Library, div.panel-library {
    background-image: url('media/office.jpg');
    background-size: cover;
}
div.panel-Bedroom, div.panel-bedroom, div.panel-Bedrooms, div.panel-bedrooms {
    background-image: url('media/bedroom.jpg');
    background-size: cover;
}
div.panel-Music, div.panel-music, div.panel-Theater, div.panel-theater, 
div.panel-Entertainment, div.panel-entertainment {
    background-image: url('media/music.jpg');
    background-size: cover;
}
div.panel-Basement, div.panel-basement, div.panel-Downstairs, div.panel-downstairs {
    background-image: url('media/basement.jpg');
    background-size: cover;
}

/* all things look like this */  
/* the heights are set to auto for larger items like weather and thermostats */
div.thing {
    display: inline-block;
    margin: 6px 0px 4px 10px;
    text-align: center;
    vertical-align: top;
    border-top: 2px solid #cccccc; 
    border-right: 2px solid #666666;
    border-bottom: 2px solid #666666;
    border-left: 2px solid #cccccc;
    background-color: rgba(150, 150, 150, 0.5);
    box-shadow: 2px 2px 7px black;
    color: rgba(250, 250, 250, 1);
    cursor: default;
    width: 180px; 
    height: 210px;
    z-index: 1;
    background-repeat: no-repeat;
    border-radius: 5%;

    transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
div.thing:hover{
    position: relative;
    box-shadow: inset 0px 0px 20px 1px rgba(240, 240, 240, 0.5);
    -moz-box-shadow: inset 0px 0px 20px 1px rgba(240, 240, 240, 0.5);
    -webkit-box-shadow: inset 0px 0px 20px 1px rgba(240, 240, 240, 0.5); 
}

div.shm-thing div.overlay div.shm:hover,
div.hsm-thing div.overlay div.hsm:hover {
    filter: invert(1);
}
div.shm-thing div.overlay.name div.shm, div.hsm-thing div.overlay.name div.hsm {
    display: none;
}
div.shm-thing div.overlay.state div.shm, div.hsm-thing div.overlay.state div.hsm {
    font-size: 18pt;
    filter: invert(0);
}

/* heights for things with icons */
div.overlay.switch div.switch, 
div.overlay.switchlevel div.switch, 
div.overlay.light div.light, 
div.overlay.button div.button,
div.overlay.presence div.presence,
div.overlay.valve div.valve, 
div.overlay.momentary div.momentary.on,
div.overlay.motion div.motion,
div.overlay.contact div.contact,
div.overlay.windowShade div.windowShade,
div.overlay.door div.door,
div.overlay.switch div.switch, 
div.overlay.water div.water,
div.overlay.fan div.fan, 
div.overlay.mode div.mode, 
div.overlay.piston div.piston, 
div.overlay.isy div.isy {
    height: 100px;
    background-size: 55px;
    color: rgba(250, 250, 250, 0.01);
}

/* items that have a pointer */
div.switch, div.bulb, div.light, div.switchlevel, div.momentary, div.button, div.windowShade,
div.lock, div.mode, div.piston, div.valve, div.routine.label,
div.level, div.garage.door, div.position,
div.shm-thing div.overlay div.shm,
div.hsm-thing div.overlay div.hsm,
div.custom-thing div.custom.post,
div.piston-thing, div.music.musicmute, div.overlay.music-controls div.music,
div.door.garage.closed, div.door.garage.closing, div.door.garage.open, div.door.garage.opening,
div.thermostatFanMode, div.thermostatMode,
div.valve.startZone, div.valve.pause, div.piston-thing div.pistonName,
div.shm.state, div.hsm.state, div.water.wet, div.water.dry,
div._refresh, div._on, div._off, div._open, div._close, div._stop,
div.overlay .ui-slider span.ui-slider-handle
{
    cursor: pointer;
}

div.contact.door {
    cursor: default;
}

/* overlays */
div.overlay {
    display: block;
}

/* this section is for specific thing icons and texts */
/* the transparency is set to near zero so text doesn't show */
div.overlay.contact div.contact.open {
    background-image: url('icons/opencontact.png');
    background-size: 55px;
}
div.overlay.contact div.contact.closed, div.overlay.contact div.contact {
    background-image: url('icons/closecontact.png');
    background-size: 55px;
}
div.overlay.contact div.contact.mat.open, div.overlay.contact div.contact.pressure.open {
    background-image: url('icons/matempty.png');
    background-size: 55px;
}
div.overlay.contact div.contact.mat.closed, div.overlay.contact div.contact.pressure.closed, 
div.overlay.contact div.contact.mat, div.overlay.contact div.contact.pressure {
    background-image: url('icons/matfull.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 55px;
}

/* specific contact types one might find */
div.overlay.door div.door.open, div.overlay.contact div.contact.door.open {
    background-image: url('icons/opendoor.png');
    background-size: 55px;
}
div.overlay.contact div.door.closed, div.overlay.contact div.contact.door.closed, div.overlay.contact div.door {
    background-image: url('icons/closedoor.png');
    background-size: 55px;
}
div.overlay.water div.water.wet {
    background-image: url('icons/wet@2x.png');
    background-size: 55px;
}
div.overlay.water div.water.dry, div.overlay.water div.water {
    background-image: url('icons/dry@2x.png');
    background-size: 55px;
}
/* hide the contact part of garage doors that include an embedded contact sensor */
div.garage-thing div.overlay.contact, div.door-thing.garage div.overlay.contact {
    display: none;
}
div.overlay.contact div.contact.window.open {
    background-image: url('icons/openwindow.png');
    background-size: 55px;
}
div.overlay.contact div.contact.window.closed, div.overlay.contact div.contact.window {
    background-image: url('icons/closewindow.png');
    background-size: 55px;
}
div.overlay.door div.door.garage.open {
    background-image: url('icons/garage-opened.png');
    background-size: 100px;
}
div.overlay.door div.door.garage.closed, div.overlay.door div.door.garage {
    background-image: url('icons/garage-closed.png');
    background-size: 100px;
}
div.door.garage.opening, div.door.garage.closing {
    background-image: url('icons/garage-partial.png');
    background-size: 100px;
}
div.overlay.themode div.themode {
    background-image: url('icons/security-green.png');
    background-size: 50px;
    height: 60px;
}

/* fill tile with valve image */
div.overlay.valve div.valve.open {
    background-image: url('icons/sprinkler-on.png');
}
div.overlay.valve div.valve.closed, div.overlay.valve div.valve {
    background-image: url('icons/sprinkler-off.png');
}
/* special handling of garage entry which is a door */
div.overlay.contact div.contact.garage.entry.open {
    background-image: url('icons/opendoor.png');
}
div.overlay.contact div.contact.garage.entry.closed, div.overlay.contact div.contact.garage.entry {
    background-image: url('icons/closedoor.png');
}
/* motion styling */
div.overlay.motion div.motion.inactive, div.overlay.motion div.motion {
    background-image: url('icons/stand.png');
    background-size: 55px;
}
div.overlay.motion div.motion.active {
    background-image: url('icons/run.png');
    background-size: 55px;
}
/* lock styling */
div.overlay.lock div.lock.locked, div.overlay.lock div.lock {
    background-image: url('icons/lock.png');
    background-size: 55px;
}
div.overlay.lock div.lock.unlocked, div.overlay.lock div.lock.unknown {
    background-image: url('icons/unlock.png');
    background-size: 50px;
}

/* switch styling */

div.overlay.switch div.switch.on, div.overlay.bulb div.bulb.on, div.overlay.switch div.switch.DON {
    background-image: url('icons/bulbon.png');
}
div.overlay.switch div.switch.off, div.overlay.bulb div.bulb.off, div.overlay.switch div.switch.DOF, div.overlay.switch div.switch, div.overlay.bulb div.bulb {
    background-image: url('icons/bulboff.png');
}
div.overlay.switch div.switch.plug.on {
    background-image: url('icons/plugon.png');
}
div.overlay.switch div.switch.plug.off, div.overlay.switch div.switch.plug {
    background-image: url('icons/plugoff.png');
}
div.overlay.allon div.allon.on, div.overlay.alloff div.alloff.on {
    background-image: url('icons/switchon.png');
}
div.overlay.alloff div.alloff.off, div.overlay.allon div.allon.off {
    background-image: url('icons/switchoff.png');
}

/* variant of switch that includes levels */
div.thing.lamp div.overlay.switch div.switch.off, div.thing.lamp div.overlay.switch div.switch {
    background-image: url('icons/lampoff.png');
}
div.thing.lamp div.overlay.switch div.switch.L10.on {
    background-image: url('icons/lampon_L10.png');
}
div.thing.lamp div.overlay.switch div.switch.L20.on {
    background-image: url('icons/lampon_L20.png');
}
div.thing.lamp div.overlay.switch div.switch.L30.on {
    background-image: url('icons/lampon_L30.png');
}
div.thing.lamp div.overlay.switch div.switch.L40.on {
    background-image: url('icons/lampon_L40.png');
}
div.thing.lamp div.overlay.switch div.switch.L50.on {
    background-image: url('icons/lampon_L50.png');
}
div.thing.lamp div.overlay.switch div.switch.L60.on {
    background-image: url('icons/lampon_L60.png');
}
div.thing.lamp div.overlay.switch div.switch.L70.on {
    background-image: url('icons/lampon_L70.png');
}
div.thing.lamp div.overlay.switch div.switch.L80.on {
    background-image: url('icons/lampon_L80.png');
}
div.thing.lamp div.overlay.switch div.switch.L90.on {
    background-image: url('icons/lampon_L90.png');
}
div.thing.lamp div.overlay.switch div.switch.L100.on {
    background-image: url('icons/lampon_L100.png');
}
div.thing.lamp div.overlay.switch div.switch.on {
    background-image: url('icons/lampon.png');
}

/* use switches for Harmony activities and hub status */
div.overlay.switch div.switch.harmonyactivity, div.overlay.switch div.switch.harmonyhub {
    background-image: url('icons/switchoff.png');
    background-size: 90px; height: 90px;
}
div.overlay.switch div.switch.harmonyactivity.off, div.overlay.switch div.switch.harmonyhub.off {
    background-image: url('icons/switchoff.png');
}
div.overlay.switch div.switch.harmonyactivity.on, div.overlay.switch div.switch.harmonyhub.on {
    background-image: url('icons/switchon.png');
}

/* window shade styling */
div.overlay.windowShade div.windowShade.open {
    background-image: url('icons/shades_open.png');
    background-size: 80px; height: 80px;
}
div.overlay.windowShade div.windowShade.closed, div.overlay.windowShade div.windowShade {
    background-image: url('icons/shades_closed.png');
    background-size: 80px; height: 80px;
}
div.overlay.windowShade div.windowShade.partially_open,
div.overlay.windowShade div.windowShade.opening,
div.overlay.windowShade div.windowShade.closing
{
    background-image: url('icons/shades_mid.png');
    background-size: 80px; height: 80px;
}
/* momentary styling */
div.momentary.off, div.switch.button.off, div.overlay.momentary div.momentary, div.overlay.switch div.switch.button {
    background-image: url('icons/3dbutton.png');
}
div.momentary.on, div.switch.button.on {
    background-image: url('icons/3dbuttonpush.png');
}

/* up and down arrows */
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn,
div.heat-up, div.cool-up, div.level-up, div.switchlevel-up,
div.colorTemperature-up, div.colorTemperature-dn,
div.hue-up, div.hue-dn,
div.saturation-up, div.saturation-dn,
div.heatingSetpoint-dn, div.coolingSetpoint-dn,
div.heatingSetpoint-up, div.coolingSetpoint-up {
    display: inline-block;
    width: 32px; height: 32px;
    border: 0px; padding: 0px;
    cursor: pointer;
}
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn,
div.colorTemperature-dn, div.hue-dn, div.saturation-dn,
div.heatingSetpoint-dn, div.coolingSetpoint-dn {
    color: rgba(255, 255, 255, 0.01);
    background-image: url("icons/down.png");
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

div.heat-up, div.cool-up, div.level-up, div.switchlevel-up,
div.colorTemperature-up, div.hue-up, div.saturation-up,
div.heatingSetpoint-up, div.coolingSetpoint-up {
    color: rgba(255, 255, 255, 0.01);
    background-image: url("icons/up.png");
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

div.overlay._previousTrack,
div.overlay._pause,
div.overlay._play,
div.overlay._stop,
div.overlay._nextTrack,
div.overlay._mute, div.overlay._unmute,
div.overlay._muteGroup, div.overlay._unmuteGroup,
div.overlay._volumeUp,
div.overlay._volumeDown
{
    display: inline;
}

div.overlay._rewind,
div.overlay._fastForward,
div.overlay._groupVolumeUp,
div.overlay._groupVolumeDown,
div.overlay._stopPositionChange {
    display: none;
}

div.music-previous, div.music-pause, div.music-stop, div.music-play, div.music-next,
div.audio._previousTrack, div.audio._pause, div.audio._stop, div.audio._play, div.audio._nextTrack, div.audio._rewind, div.audio._fastForward,
div.sonos._previousTrack, div.sonos._pause, div.sonos._stop, div.sonos._play, div.sonos._nextTrack, div.sonos._rewind, div.sonos._fastForward 
{
    color: rgba(255, 255, 255, 0.01);
    background-size: 38px;
    display: inline-block;
    background-repeat: no-repeat;
    height:38px; 
    width: 32px;
    margin-top: 5px;
}

div.thing.music-thing div.overlay.status,
div.thing.music-thing div.overlay.music-controls,
div.thing.music-thing div.overlay.mute,
div.thing.music-thing div.overlay.currentAlbum,
div.thing.music-thing div.overlay.trackNumber,
div.thing.music-thing div.overlay.mediaSource {
    display: none;
}

div.thing.music-thing div.overlay._previousTrack div._previousTrack,
div.thing.music-thing div.overlay._nextTrack div._nextTrack,
div.thing.music-thing div.overlay._pause div._pause,
div.thing.music-thing div.overlay._play div._play,
div.thing.music-thing div.overlay._stop div._stop {
    position: absolute;
    padding-top: 0px; padding-left: 0px;
    color: rgba(250, 250, 250, 0.01);
    background-size: 35px; background-repeat: no-repeat;
    width: 35px; height: 35px; top:85px;
    cursor: pointer;
}
div.thing.music-thing div.overlay._previousTrack div._previousTrack {
    background-image: url("icons/prev.png");
    left: 10px;
}
div.thing.music-thing div.overlay._nextTrack div._nextTrack {
    background-image: url("icons/next.png");
    left: 50px;
}
div.thing.music-thing div.overlay._stop div._stop {
    background-image: url("icons/stop.png");
    left: 90px;
}
div.thing.music-thing div.overlay._play div._play {
    background-image: url("icons/play.png");
    left: 130px;
}
div.thing.music-thing div.overlay._pause div._pause {
    background-image: url("icons/play.png");
    left: 130px;
    display: none;
}

div.thing.music-thing div.overlay._volumeUp div._volumeUp,
div.thing.music-thing div.overlay._volumeDown div._volumeDown,
div.thing.music-thing div.overlay._unmute div._unmute,
div.thing.music-thing div.overlay._mute div._mute {
    position: absolute;
    padding-top: 0px; padding-left: 0px;
    color: rgba(250, 250, 250, 0.01);
    background-size: 35px; background-repeat: no-repeat;
    width: 35px; height: 35px; top: 120px;
    cursor: pointer;
}
div.thing.music-thing div.overlay._volumeUp div._volumeUp {
    background-image: url("icons/up.png");
    left: 10px;
}
div.thing.music-thing div.overlay._volumeDown div._volumeDown {
    background-image: url("icons/down.png");
    left: 50px;
}
div.thing.music-thing div.overlay._mute div._mute {
    background-image: url("icons/mute.png");
    left: 90px;
}
div.thing.music-thing div.overlay._unmute div._unmute {
    background-image: url("icons/unmute.png");
    left: 130px;
}
div.thing.music-thing div.overlay.currentArtist div.currentArtist {
    display: none;
    }
   div.thing.music-thing div.overlay.currentAlbum div.currentAlbum {
    display: none;
    }
   div.thing.wholetile-thing div.overlay._volumeUp div._volumeUp {
    position: absolute;
    }

div.audio._mute, div.audio._muteGroup, div.audio._unmute, div.audio._unmuteGroup,
div.audio._volumeUp, div.audio._groupVolumeUp, div.audio._volumeDown, div.audio._groupVolumeDown,
div.sonos._mute, div.sonos._muteGroup, div.sonos._unmute, div.sonos._unmuteGroup,
div.sonos._volumeUp, div.sonos._groupVolumeUp, div.sonos._volumeDown, div.sonos._groupVolumeDown
{
    color: rgba(255, 255, 255, 0.01);
    background-size: 38px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 5px;
    height:38px; 
    width: 32px;
}
div.music-pause, div.audio._pause, div.sonos._pause {
    background-image: url("icons/pause.png");
}
div.music-stop, div.audio._stop, div.sonos._stop {
    background-image: url("icons/stop.png");
}
div.music-play, div.audio._play, div.sonos._play {
    background-image: url("icons/play.png");
}
div.music-previous, div.audio._previousTrack, div.sonos._previousTrack {
    background-image: url("icons/prev.png");
}
div.music-next, div.audio._nextTrack, div.sonos._nextTrack {
    background-image: url("icons/next.png");
}
div.audio._mute, div.audio._muteGroup, div.sonos._mute, div.sonos._muteGroup {
    background-image: url("icons/mute.png");
}
div.audio._unmute, div.audio._unmuteGroup, div.sonos._unmute, div.sonos._unmuteGroup {
    background-image: url("icons/unmute.png");
}
div.audio._rewind, div.sonos._rewind {
    background-image: url("icons/rewind.png");
}
div.audio._fastForward, div.sonos._fastForward {
    background-image: url("icons/fastforward.png");
}
div.audio._volumeUp, div.sonos._volumeUp {
    background-image: url("icons/up.png");
}
div.audio._volumeDown, div.sonos._volumeDown {
    background-image: url("icons/down.png");
}
div.audio._groupVolumeUp, div.sonos._groupVolumeUp {
    background-image: url("icons/upgroup.png");
}
div.audio._groupVolumeDown, div.sonos._groupVolumeDown {
    background-image: url("icons/downgroup.png");
}

/* round temperature value inside a thermostat */
div.overlay.temperature div.temperature,
div.overlay.temperatureApparent div.temperatureApparent,
div.overlay.realFeel div.realFeel,
div.overlay.DEWPT div.DEWPT,
div.overlay.feelsLike div.feelsLike
{
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 70px;
    width: 70px;
    padding: 4px 3px 0 3px;
    margin: 10px 12px 10px 12px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 65px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

div.overlay div.thermostatFanMode.on {
    background-color: #3333ff;
}
div.overlay div.thermostatMode.heat, div.overlay div.thermostatMode.Heat {
    background-color: #ff3300;
}
div.overlay div.thermostatMode.cool, div.overlay div.thermostatMode.Cool {
    background-color: #3333ff;
}
div.overlay div.thermostatFanMode {
    background-color: #009999;
}
div.overlay.thermostatFanMode div.thermostatFanMode::before {
    content: "Fan: ";
}
div.overlay.thermostatMode div.thermostatMode::before,
div.overlay.thermomode div.thermomode::before {
    content: "Mode: ";
}
div.overlay.thermostatOperatingState div.thermostatOperatingState::before {
    content: "State: ";
}

/* values of the adjustable items */
/* include legacy and updated corrected names */
div.level-val, div.switchlevel-val,
div.colorTemperature-val, div.hue-val, div.saturation-val,
div.heatingSetpoint-val, div.coolingSetpoint-val,
div.heatingSetpoint, div.coolingSetpoint {
    display: inline-block;
    position: relative;
    left: 0px; top: 0px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    width: 54px;
    height: 32px;
    color: rgba(255, 255, 255, 1);
    border: 0px;
}
div.overlay.heatingSetpoint, div.overlay.coolingSetpoint {
    height: 40px;
}

div.overlay.heatingSetpoint div.heatingSetpoint {
    padding-top: 6px;
    border-radius: 50%;
    background-color: #cc3300;
    border: 1px solid white;
    height: 32px; width: 32px;
    position: absolute;
    left: 5px;
}
div.overlay.coolingSetpoint div.coolingSetpoint {
    padding-top: 6px;
    border-radius: 50%;
    background-color: #0033cc;
    border: 1px solid white;
    height: 32px; width: 34px;
    position: absolute;
    left: 5px;
}
div.heatingSetpoint-up, div.coolingSetpoint-up {
    position: absolute;
    right: 5px;
}
div.heatingSetpoint-dn, div.coolingSetpoint-dn {
    position: absolute;
    right: 38px;
}

/* hover over the adjustment arrows */
div.heatingSetpoint-up:hover, div.heatingSetpoint-dn:hover, 
div.coolingSetpoint-up:hover, div.coolingSetpoint-dn:hover,
div.heat-up:hover, div.heat-dn:hover, 
div.cool-up:hover, div.cool-dn:hover,
div.switchlevel-up:hover, div.switchlevel-dn:hover,
div.colorTemperature-up:hover, div.colorTemperature-dn:hover,
div.hue-up:hover, div.hue-dn:hover,
div.saturation-up:hover, div.saturation-dn:hover,
div.level-up:hover, div.level-dn:hover {
    border: 2px solid #cccccc;
}

/* use italic serif font for music titles and a custom size */
div.overlay.trackDescription div.custom.trackDescription, 
div.music-thing div.overlay.trackDescription div.trackDescription,
div.audio-thing div.overlay.trackDescription div.trackDescription
{
    font-family: "Raleway",serif;
    font-size: 11pt;
    font-style: italic;
    height: auto;
    width: auto;
    padding-top: 10px; padding-bottom: 10px;
    border: none;
}
div.overlay.status div.music.status, div.overlay.mute div.music.mute {
    height: 24px;
    width: 100%;
    font-size: 11pt;
}

/* pistons */
div.overlay.pistonName div.pistonName {
    background-image: url('icons/piston.png');
    background-size: 55px;
}
div.overlay.pistonName div.pistonName.firing, div.overlay.pistonName div.pistonName {
    background-image: url('icons/pistonfiring.png');
    background-size: 55px;
}

/* weather styling */
div.thing.weather-thing {
    text-align: center;
    height: auto;
}

div.overlay.temperature div.weather.temperature, 
div.overlay.feelsLike div.weather.feelsLike,
div.overlay.temperatureApparent div.weather.temperatureApparent,
div.overlay.realFeel div.weather.realFeel {
    display: inline-block;
    width: 118px;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 75px;
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 28px;
    line-height: 60px;
    vertical-align: top;
}
/* control styling */
div.thing.control-thing {
    width: 180px;
    height: 210px;
}

/* clock styling */
div.thing.clock-thing {
    width: 180px;
    height: 210px;
}
div.thing.clock-thing.analog {
    background-color: rgba(120, 120, 120, 1.0);
}
div.clock.weekday {
    margin-top: 0px;
    margin-bottom: 0px;
}
div.clock.time {
    font-size: 22pt;
    margin-top: 10px;
}
div.clock.weekday, div.clock.date {
    font-size: 14pt;
    margin-top: 5px;
}
div.thing.clock-thing div.overlay.name {
    display: none;
}

div.mode.themode {
    font-size: 20pt;
    height: 24px;
}
div.shm.state, div.hsm.state {
    font-size: 18pt;
    margin-top: 0px;
    color: rgba(255, 255, 255, 1);
    background-size: 70px;
    background-repeat: no-repeat;
    height: 100px;
    background-position-x: center;
    background-position-y: bottom;
}
div.shm.state.stay, div.hsm.state.armedHome, div.state.Home {
    background-image: url('icons/security-blue.png');
}
div.shm.state.away, div.hsm.state.armedAway, div.state.Away {
    background-image: url('icons/security-red.png');
}
div.shm.state.off, div.hsm.state.disarmed, div.state.Disarmed, div.state.allDisarmed, div.overlay.hsm div.hsm.state, div.overlay.state div.state {
    background-image: url('icons/security-green.png');
}
div.hsm.state.armedNight, div.state.Night {
    background-image: url('icons/security-purple.png');
}
/* presence styling */
div.overlay.presence div.presence.present {
    background-image: url('icons/boypresent.png');
}
div.overlay.presence div.presence.absent, div.overlay.presence div.presence.not_present, div.overlay.presence div.presence {
    background-image: url('icons/boyabsent.png');
}

div.overlay.lock div.lock.locked, div.overlay.lock div.lock.unlocked, div.overlay.lock div.lock.unknown {
    height: 146px;
}

/* set piston images for ISY run and runThen items */
/* one or both can be hidden */
/* this overrides the usual click css which inverts the item */
div.overlay.run div.run,
div.overlay.runThen div.runThen {
    background-image: url('icons/piston.png');
    background-size: 55px;
    background-position-y: bottom;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 90px;
    filter: invert(0);
}
div.overlay.run div.run.clicked, div.overlay.run div.run,
div.overlay.runThen div.runThen.clicked, div.overlay.runThen div.runThen {
    background-image: url('icons/pistonfiring.png');
    background-size: 55px;
    background-position-y: bottom;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 90px;
    filter: invert(0);
}
